:root {
	--color-logocolor: #ff0558;
	--font-family900: 'Pretendard-Black';
	--font-family700: 'Pretendard-Bold';
	--font-family500: 'Pretendard-Medium';
	--font-family400: 'Pretendard-Regular';
	--font-family300: 'Pretendard-Light';
	--font-family200: 'Pretendard-ExtraLight';
	--font-family100: 'Pretendard-Thin';
}
@mixin main_font($font-family, $font-size) {
	font-family: $font-family;
	font-size: $font-size;
	color: #fff;
	text-align: left;
	@content;
}
$breakpoint-mobile: 335px;
$breakpoint-tablet: 600px;
$breakpoint-desktop: 1024px;
@mixin desktop {
	@media (min-width: #{$breakpoint-desktop}) {
		@content;
	}
}
@mixin tablet {
	@media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
		@content;
	}
}
@mixin mobile {
	@media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
		@content;
	}
}

body {
	background: #111;
}
header {
	width: 100%;
	height: 60px;
	background: #333;
	position: fixed;
	z-index: 999;
	padding: 0 20px;
	.header_wrap {
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include main_font(var(--font-family400), 16px);
		.logo {
			cursor: pointer;
		}
		.left_menu {
			width: 100%;
			margin-left: 45px;
			> li {
				padding-right: 20px;
				> a {
					padding: 0px 5px;
					height: 60px;
					display: flex;
					align-items: center;
				}
			}
			.category {
				position: relative;
				&:hover .category_list {
					display: block;
				}
				.category_list {
					@include main_font(var(--font-family200), 14px);
					position: absolute;
					top: 100%;
					left: 0;
					background: #333;
					padding: 15px;
					width: 180px;
					display: none;
					p {
						padding: 0 0 15px 0;
						font-family: var(--font-family700);
						border-bottom: 1px solid #636363;
					}
					li {
						width: 100%;
						a {
							&:hover {
								opacity: 0.8;
							}
							padding: 15px 0;
							width: 100%;
						}
					}
				}
			}
		}
		.right_menu {
			width: 100%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			li {
				padding-left: 30px;
				a {
					padding: 15px 0px;
				}
				.sign {
					background: var(--color-logocolor);
					padding: 7px 12px;
					border-radius: 5px;
				}
			}
		}
	}
}
.main1 {
	padding: 110px 20px 0;
	overflow: hidden;
	.main1_wrap {
		@include main_font(var(--font-family700), 32px);
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
		> p {
			padding: 0 0 20px 0;
		}
		.slider {
			position: relative;
			.swiper-slide {
				border-radius: 10px;
				overflow: hidden;
				&::after {
					content: '';
					width: 100%;
					height: 30%;
					position: absolute;
					bottom: 0;
					left: 0;
					z-index: 1;
					background: linear-gradient(180deg, rgba(0, 0, 0, 0) 5.5%, #000 100%);
				}
				position: relative;
				img {
					width: 100%;
					&.mb {
						display: none;
					}
				}
				.title {
					position: absolute;
					bottom: 0;
					left: 0;
					z-index: 2;
					padding: 40px;
					.name {
						max-width: 354px;
						img {
							max-width: 354px;
							width: unset;
						}
					}
					.sub {
						font-size: 18px;
						margin-top: 12px;
					}
				}
			}
			.swiper-pagination-fraction {
				width: unset;
				left: unset;
				right: 40px;
				bottom: 60px;
				font-size: 20px;
				font-family: var(--font-family300);
			}
			.swiper-scrollbar {
				background: #fff;
			}
			.swiper-scrollbar .swiper-scrollbar-drag {
				background: var(--color-logocolor);
				height: 8px;
				position: absolute;
				top: -3px;
			}
			.swiper-scrollbar.swiper-scrollbar-horizontal {
				height: 2px;
				width: 180px;
				position: absolute;
				bottom: 40px;
				right: 40px;
				left: unset;
			}
		}
	}
	@include tablet {
		.main1_wrap {
			> p {
			}
			.slider {
				.swiper-slide {
					img {
					}
					.title {
						.name {
						}
						.sub {
						}
					}
				}
				.swiper-pagination-fraction {
					font-size: 16px;
				}
				.swiper-scrollbar {
					background: #fff;
				}
				.swiper-scrollbar .swiper-scrollbar-drag {
				}
				.swiper-scrollbar.swiper-scrollbar-horizontal {
				}
			}
		}
	}
	@include mobile {
		padding: 90px 10px 0;
		.main1_wrap {
			> p {
				font-size: 24px;
			}
			.slider {
				.swiper-slide {
					img {
						&.pc {
							display: none;
						}
						&.mb {
							display: block;
						}
					}
					.title {
						bottom: 0;
						left: 50%;
						transform: translateX(-50%);
						z-index: 2;
						padding: 0px 0 80px;
						.name {
							img {
								max-width: 295px;
								max-height: 64px;
							}
						}
						.sub {
							margin-top: 20px;
							text-align: center;
							font-size: 14px;
						}
					}
				}
				.swiper-pagination-fraction {
					font-size: 14px;
					right: 20px;
					bottom: 40px;
				}
				.swiper-scrollbar {
					background: #fff;
				}
				.swiper-scrollbar .swiper-scrollbar-drag {
				}
				.swiper-scrollbar.swiper-scrollbar-horizontal {
					right: 20px;
					bottom: 20px;
					width: 100px;
				}
			}
		}
	}
}
.m2Ver {
	padding: 80px 20px 0;
	.m2Ver_wrap {
		@include main_font(var(--font-family500), 20px);
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;

		.slider2 {
			margin-top: 20px;
			overflow: hidden;
			.swiper-slide {
				&:hover img {
					transform: scale(1.04);
					transition: 0.3s;
				}
				border-radius: 15px;
				overflow: hidden;
				img {
					width: 100%;
					transition: 0.3s;
				}
			}
		}
	}
	@include tablet {
		padding: 50px 0px 0 20px;
		.m2Ver_wrap {
			p {
			}
		}
	}
	@include mobile {
		padding: 50px 0px 0 10px;
		.m2Ver_wrap {
			p {
				font-size: 16px;
			}
		}
	}
}
.main3 {
	padding: 80px 20px 0;
	overflow: hidden;

	.main3_wrap {
		@include main_font(var(--font-family500), 20px);
		width: 100%;
		p {
			max-width: 1280px;
			margin: 0 auto;
		}
		.slider3_1 {
			margin-top: 20px;
			.swiper-wrapper {
				transition-timing-function: linear;
			}
			.swiper-slide {
				border-radius: 5px;
				overflow: hidden;
				img {
					width: 100%;
				}
			}
		}
		.slider3_2 {
			margin-top: 10px;
			.swiper-wrapper {
				transition-timing-function: linear;
			}
			.swiper-slide {
				border-radius: 5px;
				overflow: hidden;
				img {
					width: 100%;
				}
			}
		}
	}
	@include tablet {
		padding: 50px 20px 0;
	}
	@include mobile {
		padding: 50px 10px 0;
		.main3_wrap {
			p {
				font-size: 16px;
			}
		}
	}
}
.main6 {
	padding: 80px 20px 0;
	.main6_wrap {
		@include main_font(var(--font-family500), 20px);
		width: 100%;
		max-width: 1280px;
		// padding: 0 20px;
		margin: 0 auto;
		.slider6 {
			margin-top: 20px;
			overflow: hidden;
			.swiper-slide {
				figure {
					position: relative;
					&::after {
						content: '';
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						background: #000;
						opacity: 0;
					}
					&:hover::after {
						opacity: 0.3;
					}
					img {
						width: 100%;
						border-radius: 15px;
					}
				}

				.title {
					margin-top: 10px;
					.sub {
						font-size: 12px;
						font-family: var(--font-family300);
					}
					.name {
						margin: 7px 0;
						font-size: 20px;
					}
					.text {
						font-family: var(--font-family200);
					}
				}
			}
		}
	}
	@include tablet {
		padding: 50px 20px 0;
	}
	@include mobile {
		padding: 50px 10px 0;
		.main6_wrap {
			p {
				font-size: 16px;
			}
			.slider6 {
				.swiper-slide {
					.title {
						.sub {
							font-size: 12px;
							font-family: var(--font-family300);
						}
						.name {
							margin: 7px 0;
							font-size: 16px;
						}
						.text {
							font-family: var(--font-family200);
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}
.main7 {
	padding: 80px 0 0px 0;
	overflow: hidden;
	.main7_wrap {
		@include main_font(var(--font-family500), 20px);
		width: 100%;
		margin: 0 auto;
		padding: 0 20px;
		p {
			max-width: 1280px;
			margin: 0 auto;
		}
		.slider7 {
			margin-top: 40px;
			position: relative;
			.swiper-slide {
				border-radius: 5px;
				position: relative;
				img {
					width: 100%;
				}
				.imgNum {
					position: absolute;
					top: -2vw;
					left: 0px;
					font-size: 5vw;
					font-family: var(--font-family700);
					color: #333;
					-webkit-text-stroke: 1px white;
				}
			}
		}
	}
	@include tablet {
		padding: 50px 0px 0;
		.main7_wrap {
			p {
			}
			.slider7 {
				.swiper-slide {
					img {
					}
					.imgNum {
						font-size: 65px;
						top: -3.5vw;
						left: 10px;
					}
				}
			}
		}
	}
	@include mobile {
		padding: 50px 0px 0;
		.main7_wrap {
			padding: 0 10px;
			p {
				font-size: 16px;
			}
			.slider7 {
				.swiper-slide {
					img {
					}
					.imgNum {
						font-size: 12vw;
						top: -6.5vw;
						left: 10px;
					}
				}
			}
		}
	}
}

footer {
	margin-top: 80px;
	background: #333;
	padding: 50px 20px;
	@include main_font(var(--font-family500), 14px);
	.footer_wrap {
		max-width: 1280px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.fMenu {
			display: flex;
			li {
				&:last-child a {
					border: none;
				}
				&:first-child a {
					padding: 0 10px 0 0;
				}
				a {
					border-right: 1px solid #fff;
					padding: 0 10px;
					&:hover {
						opacity: 0.7;
						transition: 0.1s;
					}
				}
			}
		}
		table {
			margin-top: 30px;
			tr {
				td {
					&:first-child {
						padding: 0 10px 3px 0;
					}
					@include main_font(var(--font-family300), 12px);
				}
			}
		}
		p {
			@include main_font(var(--font-family200), 12px);
			color: rgb(154, 156, 158);
			margin-top: 20px;
			line-height: 1.2;
		}
		.copy {
			display: flex;
			gap: 4px;
			@include main_font(var(--font-family200), 12px);
			color: rgb(154, 156, 158);
			margin-top: 20px;
		}
		.icon {
			display: flex;
			gap: 12px;
			li {
				&:hover {
					opacity: 0.7;
					transition: 0.2s;
				}
			}
		}
	}
}
